<p>books index</p>


<!--use info -->
<h1>User info</h1>




<!--新規投稿ページ-->
<%= form_for(@book) do |f| %>
<h1>New book</h1>

<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>

<%= f.text_area :opinion %>
<%= f.submit 'Create Book', class:"btn btn-primary" %>
<% end %>


<!--book一覧-->
<%= 